<h1>Welcome to Blog.com </h1>
<p><b>
  Hello <%= @user.name %>
  Your account De-activated for Blog.com.</b></p>
<p>For any further information contact to Admin.</p>
<p>
  For account activation send mail to Admin at <b>anand.tripathi@clariontechnoloagies.co.in </b>
</p>
<p>Thanks have a good day</p>