<h3> Hello Admin </h3>
<h5> A new comment added in post Title - <i> <%= @comment.post.title %> </i> by user - <%= @comment.user.name %></h5>
<h5> The comment content is -  <i> <%= @comment.content %> </i> </h5>
<h5> Please moderate this for public view </h5>