<h4> Hello <%= @user.name %> </h4>
<h5>Welcome to Blog.com</h4>
<p>
  You have successfully signed up to Blog.com,
  your username is: <%= @user.email%>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining us and have a great day!</p>