/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
.error_explanation {
  color:#731D1D;
}

.field_with_errors { 
  display: inline;
}

.devise_errors {
  color:Brown;
}

body {
  background-color:Gainsboro;
}

.yield_container {
  padding:20px;
  z-index:-1;
}

.header {
  height:100px;
  background-color:#474747;
  margin-top:-7px;  
}

.header_link {
  height:36px;
  float:right;
  margin-top:-19px;
  margin-right:20px;
}

#logo {
  color:#00CCFF;
}

.header_flash_message {
  color:#FFA584;
  height:30px;
  margin-top:-19px;
  margin-left:10px;
  font-size:17px;
}

.header_link_for_singed_user {
  float:left;
  margin-top:30px;
}

.user_account_activity_link {
  color:white;
  font-weight:bold;
  margin-left:30px;
  font-size:16px;
}

a {
  color:#008A8A;
  font-weight:bold;
}

.search_form {
  float:right;
  margin-top:10px;
  margin-left:247px;
}

#signed_in_as {
  color:white;
  font-weight:bold;
}

.login_page {
  background-color:white;
  height:300px;
  width:300px;
}

.login_page span {
  margin-left:30px;
}

.login_page_image_container {
  float:right;
  margin-top:-360px;
  margin-right:40px;
}

.sign_up_page_image_container {
  float:right;
  margin-top:70px;
  margin-right:190px;
}

.div_absolute_position {
  z-index:-1;
  position:absolute;
}

.navigation {
  float:right;
}

.ui_block {
  display: none;
}

.ul_block ul {
  margin-left:-40px;
  list-style-type:none;
}

.ul_block ul li a {
  display:block;
  width:150px;
  color:white;
  background-color:#474747;
  padding:15px;
}

.form-control {
  width:auto;
}
