/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 *= require bootsy
 */
.error_explanation {
  color:red;
}

.field_with_errors { 
  display: inline;
}

.devise_errors {
  color:Brown;
}

.devise_errors h2 {
  font-size:14px;
}

body {
  background-color:Gainsboro;
}

.header {
  height:100px;
  background-color:#474747;
  margin-top:-7px;  
}

.header_link {
  height:36px;
  float:right;
}

.header_image {

  height:154px;
  width:648px;
}
.header_flash_message {
  color:white;
  height:30px;
  margin-top:-4px;
}

.header_link_for_controller {
  float:left;
}

.header_link_to {
  color:white;
  font-weight:bold;
  margin-left:40px;
  font-size:16px;
}

a {
  color:CornflowerBlue;
  font-weight:bold;
}