// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_show_action {
  width:550px;
  background-color:white;
  padding:10px;
}

.deactivate_comment_show {
  width:600px;
  margin-left:300px;
}

.all_comment_of_post_div_container {
  width:600px;
  margin-left:200px;
}

.index_paginate {
  float:right;
  margin-right:363px;
  margin-top:446px;
  position:realtive;
}

.view_comment_container {
  width:520px;
  margin-left:400px;
}

.div_with_comment_content {
  margin-left:20px;
  word-wrap:break-word;
}